#sunny{
    background-image: url(https://sc.mogicons.com/share/sunny-emoticon-245.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
}


div {
    height: 500px;
  border-radius: 6px;
}